{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <button class="btn btn-primary" onclick="openForm()">New Food</button>
    <div class="form-popup" id="myForm">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.content) }}
            {{ form_row(form.price) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        {{ form_end(form) }}
    </div>
    {% endif %}

    <h3>Menu</h3>
    {% for food in foods %}
    <div class="food-item">
        <a href="{{ path('food_view', {'id': food.id}) }}" class="card-link">
            <h3>{{ food.name }}</h3>
        </a>
        <span>({{ food.content }})</span>
        <span class="price">{{ food.price }}</span>
    </div>
        <hr>
    {% endfor %}
{% endblock %}